.popup-image__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  padding: 0;
  color: #fff;
}