.popup-image__open {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 816px;
  height: 540px;
  object-fit: cover;
  margin-bottom: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .popup-image__open {
    width: 430px;
  }
}

@media screen and (max-width: 980px) {
  .popup-image__open {
    width: 330px;
    height: 450px;
  }
}

@media screen and (max-width: 540px) {
  .popup-image__open {
    width: 240px;
    height: 299px;
  }
}

