.popup__input {
  display: block;
  width: 100%;
  border: none;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

@media screen and (max-width:320px) {
  .popup__input:last-of-type {
    margin: 0 0 45px 0;
  }
}