.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 51px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

@media screen and (max-width:940px) {
  .profile {
    margin: 0 65px;
  }
}

@media screen and (max-width:780px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width:380px) {
  .profile {
    max-width: 282px;
    padding: 42px 0 36px 0;
    margin: 0 auto;
  }
}

