.popup__close {
  background-size: 100%;
  position: absolute;
  background-image: url('../../../images/popup__close.svg');
  background-color: transparent;
  right: -40px;
  top: -40px;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width:550px) {
  .popup__close {
    right: 0px;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}