.popup__close {
  height: 32px;
  width: 32px;
  position: absolute;
  background-image: url('../../../images/popup__close.svg');
  background-color: transparent;
  right: -20px;
  top: -30px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width:320px) {
  .popup__close {
    right: 20px;
    height: 20px;
    width: 20px;
    top: 237px;
  }
}