.popup-image__container {
  width: 816px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .popup-image__container {
    width: 430px;
  }
}

@media screen and (max-width: 980px) {
  .popup-image__container {
    width: 330px;
  }
}

@media screen and (max-width: 540px) {
  .popup-image__container {
    width: 240px;
  }
}