.footer {
  padding: 67px 0 60px 0;
  margin: 0 auto 0 200px;
}

@media screen and (max-width:940px) {
  .footer {
    margin: 0 auto 0 65px;
  }
}

@media screen and (max-width:320px) {
  .footer {
    margin: 0 auto 0 19px;
    padding: 48px 0 36px 0;
  }
}