.page__container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}

@media screen and (max-width:940px) {
  .page__container {
    max-width: 900px;
  }
}

@media screen and (max-width:320px) {
  .page__container {
    max-width: 320px;
  }
}